body {
    background-color: 63, 38, 2, 0.961; /* cor de fundo*/
    color: rgb(246, 246, 246); /* fundo das escritas*/
}

h1 {
    text-align: center; /* para deixar no centro*/
    font-size: 40px; /*tamanho da letra*/
}
.image{
    text-align: center; /* para centralizar a imagem*/

}
.image img{
    width: 530px; /*tamanho da imagem*/
    height: auto; 
    
}

fieldset{
    margin-top: 30px;
    padding: 15px;
    font-size: 25px; /* o tamanho da letra*/
    border: 4px solid rgb(234, 201, 10); /*cor da borda */
    border-radius: 10px;
}

legend{
    font-size: 30px;
    font-weight: bold;
}

ul{
    font-size: 32px;
}

.container{
    display: flex;
    justify-content: center;
    gap: 30px; /* Espaço entre os quadros */
    margin-top: 30px;
}

fieldset{
    width: 400px; /*tamanho*/
    padding: 20px;
    border: 5px solid rgb(216, 226, 15); /* Borda grossa */
    border-radius: 15px;/*raio da borda*/
    font-size: 20px;/*tamanho da letra*/
}

legend{
    font-size: 28px;
    font-weight: bold; /* espessura da borda*/
}

ul{
    padding-left: 20px; /* espaço interno*/
}

li{
    margin-bottom: 10px; /*espaço externo*/
}
.inicio{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, #a8967a, #61490d);
    font-family: Georgia, serif;
}

.container{
    text-align: center;
}

.container h1{
    color: white;
    font-size: 55px;
    margin-bottom: 30px;
    font-weight: bold;
}

.container p{
    color: rgb(253, 252, 252);
    font-size: 38px;
    margin-bottom: 50px;

}

.botao-gas{
    width: 110px; /*largura*/
    height: 110px; /*altura*/
    border: none; /* tiro o contorno da borda*/
    border-radius: 360px; /*arredonda os cantos*/
    font-size: 35px;
    cursor: pointer;/* muda o formato do mouse quando ele passa por cima de algo. ex: quando é para
    clicar em um botão aparece uma mãozinha, afirmando que é para clicar*/
    transition: 0.3s;
    color: #61490d;
}
/*esse comando é para quando o mouse passar em cima o botão tem uma transição, ele tem um movimento*//

.botao-gas:hover{
    transform: scale(2.08);
}

}.video-logo{
     display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px; /* distância entre o vídeo e a logo */
}

.video-logo img{
    width: 350px;
    height: auto;
   
}
