body {
    background-color: rgb(132, 211, 240); /* cor de fundo*/
    color: white; /* fundo das escritas*/
}

h1 {
    text-align: center; /* para deixar no centro*/
    font-size: 40px; /*tamanho da letra*/
}
.image{
    text-align: center; /* para centralizar a imagem*/

}
.image img{
    width: 530px; /*tamanho da imagem*/
    height: auto; 
    
}

fieldset{
    margin-top: 30px;
    padding: 15px;
    font-size: 25px; /* o tamanho da letra*/
    border: 4px solid rgb(46, 2, 147);
    border-radius: 10px;
}

legend{
    font-size: 30px;
    font-weight: bold;
}